<form method="POST" action="/recipes/add">
  Name: <input name="name"><br>
  Type: <input name="type"><br>
  Description: <input name="description"><br>
  Cooking Time: <input name="cookingtime"><br>
  Ingredients: <textarea name="ingredients"></textarea><br>
  Instructions: <textarea name="instructions"></textarea><br>
  <button type="submit">Add Recipe</button>
</form>